  /* This rule will apply to all links */
  a {
    text-decoration: underline;
  }

  /* This will apply to unvisited links */
  a:link {
    color: blue;
  }

  /* And you guessed it, this applies to all links the user has clicked on */
  a:visited {
    color: purple;
  }
  .emojify::before {
    content: '😎 😄 🤓';
}

  .emojify::after {
    content: '🤓 😄 😎';
}
.card-container {
  position: relative;
  width: 100%
}
.card-image {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.card-body {
  position: absolute;
  width: 100%;
  background: black;
  opacity: 0.6;
  color: white;
  top: 8rem;
  text-align: center;
  font-size: 1.2em;
  font-family: roboto;
}
.card-heading {
  position: absolute;
}